html{
    background-color:black ;
}


*{
    text-align: center;
}
p{
    color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
}
li{
    color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
}

#name{
    
    color: #EEEEEE;
    height: 100px;
    font-family:'Courier New', Courier, monospace;
}
img{
    height: 400px;
}

.heading{
    color: #EEEEEE;
    font-family:'Courier New', Courier, monospace
}